.teacher-info-panel {
  width: 350px;
  height: 100%;

  left: 0;
  background-color: #7251b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;

  * {
    padding: 8px 0 8px 0;
  }

  #teacher-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding-top: 20px;
  }

  .nav {
    align-items: center;
  }

  a {
    color: #ffffff;
  }
}
