@import "../../../variables.scss";

.start-info {
  margin-left: 170px;

  h1 {
    font-size: 50px;
    letter-spacing: 8px;
    padding-bottom: 20px;
  }

  .small-rectangle {
    width: 180px;
    height: 7px;
    left: 75px;
    top: 363px;
    margin: 20px 0 20px 0;
    background: linear-gradient(180deg, #631db0 0%, #3a365b 99.36%);
  }

  p {
    font-size: 23px;
  }

  button {
    background-color: $button-backgorund-color;
    color: #ffffff;
    margin-top: 20px;
  }
}
