@import "../../../variables.scss";

mat-toolbar {
  background: transparent;
  padding: 30px;
  z-index: 9999;
  height: $navbar-height;
}

#logo {
  cursor: pointer;
}

.example-spacer {
  flex: auto;
}

button {
  font-size: 22px;
}
