@import "../../../variables.scss";

.author-panel-container {
  width: 30%;
  margin-right: 25px;
}

.container > button {
  background-color: $button-backgorund-color;
  color: #ffffff;
  margin-bottom: 11px;
}

.viewport {
  height: 580px;
}

.example-item {
  height: 180px;
}
