<div class="quiz-details-view-container d-flex flex-row justify-content-right">
    <div class="teacher-panel-container">
        <app-TeacherView></app-TeacherView>
    </div>
    <div class="container">
        <button mat-raised-button>Save</button>
        <button mat-raised-button (click)="addQuestion()">Add question</button>
        <app-quiz></app-quiz>
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="viewport">
            <ng-container *ngFor="let question of questions">
                <ng-container *ngComponentOutlet="question"></ng-container>
            </ng-container>
        </cdk-virtual-scroll-viewport>
    </div>
</div>