<div class = "container">
    <div class="start-panel">
        <div class="join-panel">
            <img src="../../../assets/images/questionmarkicon.svg">
            <p>Do you wanna join</p>
            <p>quiz or exam?</p>
            <mat-form-field class="enter-pin-field">
                <mat-label>Enter PIN</mat-label>
                <input matInput placeholder="******" >
              </mat-form-field>
        </div>
        <button mat-raised-button>Log in</button>
        <button mat-raised-button>Create new account</button>
    </div>
    <div class="question-box">
        <img mat-card-image src="../../../assets/images/questionbox.svg">
    </div>
</div>
  