@import "../../../variables.scss";

.start-container {
  margin-left: 170px;

  .start-panel {
    .join-panel {
      margin-right: 100px;
      width: 500px;
      height: 420px;
      background: $light-purple-background;
      border: 2px solid #47126b;
      box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.2);

      img {
        padding: 35px 0 40px 0;
      }

      p {
        font-size: 27px;
        padding-bottom: 7px;
      }

      mat-form-field {
        padding-top: 24px;
      }
    }

    button {
      margin-top: 18px;
      width: 84%;
      height: 65px;
      background-color: $button-backgorund-color;
      color: #ffffff;
      font-size: 24px;
    }
  }
}
