<div class="start-container d-flex flex-row align-items-center">
    <div class="start-panel d-flex flex-column">
        <div class="join-panel d-flex flex-column align-items-center justify-content-flex-start">
            <img src="../../../assets/images/questionmarkicon.svg">
            <p>Do you wanna join</p>
            <p>quiz or exam?</p>
            <mat-form-field class="enter-pin-field">
                <mat-label>Enter PIN</mat-label>
                <input matInput placeholder="******" >
            </mat-form-field>
            <button mat-raised-button (click)="open()">Join</button>
        </div>
        <button mat-raised-button routerLink="/login">Log in</button>
        <button mat-raised-button routerLink="/register">Create new account</button>
    </div>
</div>