<div class="register-panel d-flex flex-column align-items-center justify-content-flex-start">
    <img src="../../../assets/images/questionmarkicon.svg">
    <h1>Register</h1>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput 
          id="firstname"        
          type="text"
          required
          [(ngModel)]="user.firstname"
          name="firstname">
          <mat-error *ngIf="firstname.invalid">{{getErrorMessage("firstname")}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput
          type="text"          
          class="form-control"
          id="surname"
          required
          [(ngModel)]="user.surname"
          name="surname">
          <mat-error *ngIf="surname.invalid">{{getErrorMessage("surname")}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput 
          type="email"          
          class="form-control"
          id="email"
          required
          [(ngModel)]="user.email"
          name="email"
          placeholder="dummy@dummy.com">
          <mat-error *ngIf="email.invalid">{{getErrorMessage("email")}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
          type="password"     
          id="password"
          required
          [(ngModel)]="user.password"
          name="pasword">
          <mat-error *ngIf="password.invalid">{{getErrorMessage("password")}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input matInput       
          required
          type="password"
          [(ngModel)]="user.repeatedPassword"
          name="repeatedPassword">
          <mat-error *ngIf="repeatedPassword.invalid">{{getErrorMessage("repeatedPassword")}}</mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="createUser()">Register</button>
</div>
