<div class="points-container d-flex flex-column justify-content-center align-items-center">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    <img src="../../../assets/images/questionmarkicon.svg">
    <div class="modal-header">
        <h4 class="modal-title">Your result:</h4>       
    </div>
    <div class="modal-body">
        <h2>{{studentPoints}}/{{maxPoints}} points {{countPercentageResult()}}</h2>
    </div>
</div>
