<div class="card-container">
  <div class="card mb-4">
      <div class="card-body">
        <p>{{ question.question }}</p>

        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="selectedValue" type="radio" name="q{{question.idquestion}}" 
          id="q{{question.idquestion}}_r1" value="a" (change)="checkAnswer()">
          <label class="form-check-label">
            {{ question.aanswer }}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="selectedValue" type="radio" name="q{{question.idquestion}}" 
          id="q{{question.idquestion}}_r2" value="b" (change)="checkAnswer()">
          <label class="form-check-label">
            {{ question.banswer }}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="selectedValue" type="radio" name="q{{question.idquestion}}" 
          id="q{{question.idquestion}}_r3" value="c" (change)="checkAnswer()">
          <label class="form-check-label">
            {{ question.canswer }}
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="selectedValue" type="radio" name="q{{question.idquestion}}" 
          id="q{{question.idquestion}}_r4" value="d" (change)="checkAnswer()">
          <label class="form-check-label">
            {{ question.danswer }}
          </label>
        </div>
      </div>
    </div>
</div>
