.card-container {
  .card {
    background: #f5ecfe;
    border: 2px solid #000000;
    border-radius: 0px;

    p {
      font-size: 16px;
      font-weight: 500;
    }

    .form-check-label {
      font-size: 13px;
    }
  }
}
