@import "../../../variables.scss";

.card {
  background: $light-pink;
  border: 2px solid #000000;
  border-radius: 0px;

  p {
    font-size: 16px;
    font-weight: 500;
  }

  .form-check-label {
    font-size: 13px;
  }
}
