<div class="card mb-4 d-flex flex-row align-items-center">
    <img id="quiz-img" src="../../../assets/images/cat.jpg">
    
    <div class="card-body">            
            <h1 class="card-title">{{quiz.quiztitle}}</h1>
            <p class="card-text">{{quiz.quizdescription}}</p>
            <mat-toolbar-row>
                <span class="example-spacer"></span>
                <button mat-button (click)="getPin(quiz.idquiz)"><mat-icon>fiber_pin</mat-icon>Get PIN</button>
                <button mat-button (click)="deleteQuiz(quiz.idquiz)"><mat-icon>restore_from_trash</mat-icon>Delete</button>
                <button mat-button (click)="getQuizById(quiz.idquiz)"><mat-icon>subdirectory_arrow_right</mat-icon>Show</button>
                <button mat-button (click)="getResultsForQuiz(quiz.idquiz)"><mat-icon>table_chart</mat-icon>Results</button>
                <button mat-button disabled><mat-icon>functions</mat-icon>Sum fo points: {{quiz.sumofpoints}}</button>
            </mat-toolbar-row>
    </div>
</div>