@import "../../../variables.scss";

.card {
  background: $card-backgorund;
  box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  padding-left: 20px;

  * {
    color: #ffffff;
  }

  #quiz-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  p {
    font-size: 16px;
  }

  .quiz-design {
    width: 100%;
    mat-form-field {
      width: 100%;
    }
  }
}
