    <div class="card mb-4">
        <img id="quiz-img" src="../../../assets/images/cat.jpg">
        <div class="card-body">
            <h1 class="card-title">Quiz title</h1>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <mat-toolbar-row>
                <span class="example-spacer"></span>
                <button mat-button (click)="open()"><mat-icon>fiber_pin</mat-icon>Get PIN</button>
                <button mat-button><mat-icon>restore_from_trash</mat-icon>Delete</button>
                <button mat-button><mat-icon>subdirectory_arrow_right</mat-icon>Show</button>
                <button mat-button><mat-icon>table_chart</mat-icon>Results</button>
            </mat-toolbar-row>
        </div>
    </div>
