@import "../../../variables.scss";

.login-container {
  margin-top: 40px;
  margin-left: 170px;

  .login-panel, form {
    width: 500px;
    height: 500px;
    background: $light-purple-background;
    border: 2px solid #47126b;
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.2);

    img {
      padding: 30px 0 30px 0;
    }

    h1 {
      font-size: 34px;
      padding-bottom: 10px;
    }

    mat-form-field {
      padding-top: 10px;
      width: 60%;
    }

    button {
      width: 60%;
      height: 65px;
      margin-top: 20px;
      background-color: $button-backgorund-color;
      color: #ffffff;
      font-size: 24px;
    }
  }
}
