<div class="login-container">
    <div class="login-panel d-flex flex-column align-items-center justify-content-flex-start">
        <img src="../../../assets/images/questionmarkicon.svg">
        <h1>Log in</h1>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button (click)="login()">Log in</button>
    </div>
</div>
