<div class = "container">
    <div class="login-panel">
        <img src="../../../assets/images/questionmarkicon.svg">
        <h1>Log in</h1>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button>Log in</button>
    </div>
    <div class="question-box">
        <img mat-card-image src="../../../assets/images/questionbox.svg">
    </div>
</div>
  