<div class="teacher-view-container d-flex flex-row justify-content-right">
    <div class="teacher-panel-container">
        <app-TeacherView [currentUser]="currentUser"></app-TeacherView>
    </div>
    <div class="container">
        <button mat-raised-button routerLink="/teacher/{{currentUser.iduser}}/new-quiz">Create new</button>      
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="viewport">
            <div *cdkVirtualFor="let quiz of quizzes" class="example-item">
                <app-quiz [quiz]="quiz" [showButtons]="showButtons"></app-quiz>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>