@import "../../../variables.scss";

.teacher-panel-container {
  width: 30%;
  margin-right: 25px;
  height: calc(100vh - $navbar-height);
}

.container {
  .viewport {
    height: 550px;
  }

  .example-item {
    height: 180px;
    margin-bottom: 26px;
  }

  button {
    background-color: $button-backgorund-color;
    color: #ffffff;
    margin-bottom: 11px;
  }
}
