<div class="quiz-details-view-container d-flex flex-row justify-content-right">
    <div class="teacher-panel-container">
        <app-TeacherView [currentUser]="currentUser"></app-TeacherView>
    </div>
    <div class="container">
        <button mat-raised-button routerLink="/teacher/{{currentUser.iduser}}" (click)="updateQuizWithQuestions()">Save</button>
        <button mat-raised-button (click)="addQuestion()">Add question</button>
        <app-quiz [quiz]="quiz"></app-quiz>
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="viewport">
            <div *cdkVirtualFor="let question of questions" class="example-item">
                <app-quiz-details-question [question]="question" (deleteQuestionEvent)="deleteQuestion($event)"></app-quiz-details-question>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>

