@import "../../../variables.scss";

.teacher-panel-container {
  width: 30%;
  margin-right: 25px;
}

.quiz-details-view-container {
  height: calc(100vh - $navbar-height - $mat-raised-button-height - $quiz-card-height);
}

.container {
  .viewport {
    height: calc(100vh - $navbar-height - $mat-raised-button-height - $quiz-card-height);
  }

  button {
    background-color: $button-backgorund-color;
    color: #ffffff;
    margin-bottom: 11px;
    margin-right: 20px;
    height: $mat-raised-button-height;
  }
}
