@import "../../../variables.scss";

.settings {
  height: 800px;
}
.settings-container {
  margin-left: 150px;
  width: 60%;
  height: 70%;
  background: $light-purple-background;
  border: 2px solid #47126b;
  box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.2);

  #teacher-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding-top: 20px;
  }
  
  img {
    padding: 18px 0 18px 0;
  }

  .input-container{
    width: 30vw;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    width: 60%;
    height: 65px;
    background-color: $button-backgorund-color;
    color: #ffffff;
    font-size: 24px;
  }

  .upload-button{
    background-color: rgb(175, 175, 175);
    font-size: 15px;
    height: 6vh;
    color: grey;
  }
}
