<div class="settings d-flex flex-row justify-content-right">
    <div class="teacher-panel-container">
        <app-TeacherView [currentUser]="currentUser"></app-TeacherView>
    </div>
    <div class="settings-container d-flex flex-row align-items-center justify-content-around">
        <div class="input-container d-flex flex-column justify-content-flex-start align-items-center">
            <img src="../../../assets/images/questionmarkicon.svg">
            <form [formGroup]="settingsForm" (ngSubmit)="updateUser()">
            <mat-form-field appearance="fill">
                <mat-label>New name</mat-label>
                <input matInput formControlName="firstname" type="text" id="first_name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>New surname</mat-label>
                <input matInput formControlName="surname" type="text" id="surname">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Old password</mat-label>
                <input matInput formControlName="oldPassword" type="password" id="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>New password</mat-label>
                <input matInput formControlName="newPassword" type="password" id="newPassword">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Repeat new password</mat-label>
                <input matInput formControlName="confirmPassword" type="password">
            </mat-form-field>
            <button mat-raised-button routerLink="/teacher/{{currentUser.iduser}}" type="submit">Save</button>
        </form>
        </div>
    </div>
</div>