$button-backgorund-color: #552594;
$light-purple-background: #d7c8f3;
$panel-background: #7251b5;
$card-backgorund: #815ac0;
$light-pink: #f5ecfe;

$navbar-height: 15vh;
$quiz-card-height: 22vh;
$mat-raised-button-height: 5vh;
