<div class="card-container">
    <div class="card mb-4 d-flex flex-row-reverse" >
        <div class="card-menu">
            <button mat-button (click)="deleteQuestion(question)"><mat-icon>restore_from_trash</mat-icon>Delete</button>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="form-check d-flex align-items-center">
                <mat-form-field class="card-content-question">
                    <mat-label>Question</mat-label>
                    <input matInput
                        type="text"          
                        class="form-control"
                        name="question"
                        [(ngModel)]="question.question">
                </mat-form-field>
            </div>
            <div class="form-check d-flex align-items-center">
                <input type="radio" [(ngModel)]="question.correctanswer" name="q{{question.idquestion}}" id="q{{question.idquestion}}_a" value="a">
                <mat-form-field class="card-content-question">
                    <mat-label>Answer</mat-label>
                    <input matInput
                        type="text"          
                        class="form-control"
                        name="aanswer"
                        [(ngModel)]="question.aanswer">
                </mat-form-field>
            </div>
            <div class="form-check d-flex align-items-center">
                <input type="radio" [(ngModel)]="question.correctanswer" name="q{{question.idquestion}}" id="q{{question.idquestion}}_b" value="b">
                <mat-form-field class="card-content-question">
                    <mat-label>Answer</mat-label>
                    <input matInput
                        type="text"          
                        class="form-control"
                        name="banswer"
                        [(ngModel)]="question.banswer">
                </mat-form-field>
            </div>
            <div class="form-check d-flex align-items-center">
                <input type="radio" [(ngModel)]="question.correctanswer" name="q{{question.idquestion}}" id="q{{question.idquestion}}_c" value="c">
                <mat-form-field class="card-content-question">
                    <mat-label>Answer</mat-label>
                    <input matInput
                        type="text"          
                        class="form-control"
                        name="canswer"
                        [(ngModel)]="question.canswer">
                </mat-form-field>
            </div>
            <div class="form-check d-flex align-items-center">
                <input type="radio" [(ngModel)]="question.correctanswer" name="q{{question.idquestion}}" id="q{{question.idquestion}}_d" value="d">
                <mat-form-field class="card-content-question">
                    <mat-label>Answer</mat-label>
                    <input matInput
                        type="text"          
                        class="form-control"
                        name="danswer"
                        [(ngModel)]="question.danswer">
                </mat-form-field>
            </div>
        </div>         
    </div>
</div>