<div class="author-info-panel d-flex flex-column align-items-center justify-content-flex-start">
    <h1>Created by</h1>
    <img id="author-img" src="../../../assets/images/cat.jpg" >
    <h1>{{currentUser.firstname}} {{currentUser.surname}}</h1>
    <div class="card-wrapper">
        <mat-card class="quiz-card">
          <mat-card-header>
            <img src="../../../assets/images/cat.jpg" mat-card-avatar />
            <mat-card-title>{{currentQuiz.quiztitle}}</mat-card-title>
            <div class="small-rectangle"></div>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{currentQuiz.quizdescription}}
            </p>
          </mat-card-content>
        </mat-card>
    </div>
</div>
